/* shamelessly stolen from https://github.com/NateW/obtvse/blob/master/app/assets/stylesheets/posts.css.scss */
aside {
  position: relative;
  display: block; }

ul {
  list-style-type: none; }

.hide {
  visibility: hidden;
  height: 1px;
  clip: rect(0 0 0 0);
  position: absolute; }

input, textarea {
  outline: none;
  background: none; }



body, textarea, pre, input {
    font-family: 'Lato', Helvetica, sans-serif;
    line-height: 1.8em;
    font-size: 15px;
    font-weight: 400; }

h1, h2, h3, h4, h5 {
  font-weight: 900;
  word-wrap: break-word;
  line-height: 1.3em; }

h1,
.expandingArea.text-title pre,
.expandingArea.text-title textarea {
    font-weight: 900;
    font-size: 30px; }


code.prettyprint {
    line-height: 1.2em;
}


div.bottom_right {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
}

header {
  width: 162px;
  border-right: 1px solid #DDD;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 20px 40px; }
header span {
  color: #888;
  font-weight: 500; }
header span.powered-by {
  position: absolute;
  bottom: 20px;
  font-size: 11px; }
header ul {
  padding: 0;
  margin: 50px 0; }
header li {
  margin: 0 0 3px 0; }
header li a {
  padding: 2px 0;
  color: #888;
  border-bottom: 2px solid #eee; }
header li a:hover {
  border-color: #777;
  color: #444; }



#content section {
  padding: 26px 0 40px 50px;
  border-bottom: 1px solid #ddd;
  position: relative; }
#content h1.aside {
  font-size: 18px; }

.show #content section {
  border-bottom: none; }

code {
  font-size: 13px;
  background: #F2F2F2;
  display: block; }


.contain img {
  max-width: 100%;
  height: auto; }

#new_post, .edit_post {
  padding: 88px 0;
  margin: 0 auto; }

fieldset.markdown {
  position: relative;
  border: none;
  margin: 0;
  padding: 0; }

.markdown::before {
  display: block;
  content: "";
  width: 39px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: -60px;
}


#post_content {
  border: none;
  width: 100%;
  position: relative;
  margin: 0 0 80px 0; }

.contain, #new_post, .edit_post {
    text-align: left;
    width: 880px;
    left: 15%;
}



.button.space-top {
  margin-top: 100px; }

.left {
  float: left; }

.right {
  float: right; }

.actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  margin: 0;
  padding: 0; }

.actions li {
  display: inline-block;
  margin: 0 10px 0 0; }

label {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  margin: 0 4px 0 15px; }

#post_draft {
  position: relative;
  margin: 0 20px 0 0; }

.admin-links {
  position: absolute;
  text-align: right;
  top: 18px;
  right: 20px;
  margin: 0; }
.admin-links li {
  float: left;
  margin-left: 6px; }
.admin-links a {
  float: left; }

.notice {
  background: lightYellow;
  width: 100%;
  display: block;
  text-align: center;
  padding: 6px 0; }




.admin-view {
  font-size: 11px;
  margin: 0 10px 2px 0;
  font-weight: 900;
  text-transform: uppercase; }

nav.pagination {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }
