{% extends "layout.html" %}

{% block title %}<title>{{ config.SITE_TITLE  }}</title>{% endblock %}

{% block about %}active{% endblock %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
      	<h1>About Me</h1>
        <p>Lorem ipsum dolor sit amet, mei possim veritus ex, eu sit simul complectitur. Pro id error regione antiopam, facete melius theophrastus sed no, persequeris ullamcorper vix ex. Tibique sensibus principes cum no, et eum quando intellegebat. Legimus ceteros epicurei cum eu. Mel ad illud vituperatoribus, eu pro sumo graeci sententiae, duo eu graeco semper. Per sale facer laboramus cu, eos melius scripta scripserit ei, facilis corrumpit in per.</p>
      </div>
    </div>
{% endblock %}
