<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap -->
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      {% if config.USE_FAVICON %}
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      {% endif %}
      <title>Admin dashboard</title>
      <link href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet" media="screen">
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% block css %}{% endblock %}
    {% block head %}{% endblock %}
</head>

<body class="admin">
<div id="admin">
    <nav class="navbar navbar-inverse" role="toolbar">
      <div class="container">
         <a class="navbar-brand" href="{{ url_for("admin") }}">Admin Dashboard</a>
        <div class="navbar-right">
          <p><a class="btn btn-default" href="{{ url_for("index") }}">Visit site</a></p>
        </div>
        <div class="navbar-right">
          <p id="greeting">Why hello, {{ adminName }}!</p>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
</div>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>