{% extends "admin_template.html" %}

{% block css %}
<link href="{{ url_for('static', filename='css/posts.css') }}" type="text/css" media="screen" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div id="drafts" class="col admin-box">
          <h1>Drafts <a href="{{ url_for('new_post') }}" class="btn btn-primary">New draft</a></h1>
          <form action="{{ url_for('new_post') }}" method="POST">
              <input name="title" id="post_title" type="text" size=30 placeholder="Start typing an idea here">
          </form>
          <ul>
              {% for draft in drafts %}
                  <li id="post-{{ draft.id }}">
                      <h3>
                          <a href="{{ url_for('edit', post_id=draft.id) }}">{{ draft.title }}</a>
                              <span class="links">
                                  <a href="{{ url_for('delete', post_id=draft.id) }}" class="admin-delete" data-confirm="Are you sure?" rel="nofollow">x</a>
                              </span>
                      </h3>
                  </li>
              {% endfor %}
          </ul>
      </div>
    </div>
    <div class="col-md-6">
        <div id="published" class="col admin-box">
          <h1>Published </h1>
          <ul>
              {% for post in posts %}
                  <li id="post-{{ post.id }}">
                      <h3>
                        <a href="{{ url_for('edit', post_id=post.id) }}">{{ post.title }}</a> | {{ post.created_at.date() }} <!--KLM need to figure out how to cut to date + seconds only-->
                              <span class="links">
                                  <a href="{{ url_for('view_post_slug', slug=post.slug) }}" class="admin-view">view</a>
                                  <a href="{{ url_for('delete', post_id=post.id) }}" class="admin-delete" data-confirm="Are you sure?"
                                     data-method="delete" rel="nofollow">x</a>
                              </span>
                      </h3>
                  </li>
              {% endfor %}
          </ul>
        </div>
    </div>
    <div class="col-md-6">
      <div id="aboutme" class="col admin-box"> <!--need to figure out how to make this work to edit about.html from admin panel-->
        <h1>About Me<a href="{{ url_for("admin") }}" class="btn btn-primary">Save</a></h1>
          <form action="{{ config.ABOUT_ME|safe  }}" method="POST">
              <input name="title" id="post_title" type="text" size=30 placeholder="Type here to edit">
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
