{% extends "admin_template.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/layout.css') }}" type="text/css" media="screen" rel="stylesheet">
{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='js/functions.js') }}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='js/tabindent.js') }}" type="text/javascript"></script>
        <script>
            window.ondragover = function(e) {e.preventDefault()};
            window.ondrop = function(e) {e.preventDefault(); upload(e.dataTransfer.files); };            

            function upload(files) {
                $("#upload_list").empty();
                $(files).each(function(i,file){
                    if (!file || !file.type.match(/image.*/)) return;

                    var fd = new FormData();
                    fd.append("file", file);
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/upload");
                    xhr.onload = function() {
                        console.log(xhr.responseText);
                        var resp = JSON.parse(xhr.responseText);
                        $("#upload_list").append("<p><a class='uploadUrl' target='_blank' href='" + resp.url + "'>" + resp.name + "</a></p>")
                    };
                    xhr.send(fd);
                })
            }
          //thumbnail images get special treatment: there can be only one
          function uploadThumbnail(files) {
            $(files).each(function(i,file){
                    if (!file || !file.type.match(/image.*/)) return;

                    var fd = new FormData();
                    fd.append("file", file);
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/upload");
                    xhr.onload = function() {
                        console.log(xhr.responseText);
                        var resp = JSON.parse(xhr.responseText);
                      $("#upload_list_thumbnail").html("<p><a class='uploadUrl' target='_blank' href='" + resp.url + "'><img src='" + resp.url + "' alt='" + resp.name + "'/></a></p>");
                      $("#post_thumbnail").append(resp.url);
                    };
                    xhr.send(fd);
                })
          }
            $(document).ready(function(){
                $("#upload_list").on('click', '.uploadUrl', function(ev){
                    $('#post_content').insertAtCaret('![](' + $(this).attr('href') + ')');
                    ev.preventDefault();
                })

            })

             jQuery.fn.extend({
              insertAtCaret: function(myValue){
                return this.each(function(i) {
                  if (document.selection) {
                    //For browsers like Internet Explorer
                    this.focus();
                    sel = document.selection.createRange();
                    sel.text = myValue;
                    this.focus();
                  }
                  else if (this.selectionStart || this.selectionStart == '0') {
                    //For browsers like Firefox and Webkit based
                    var startPos = this.selectionStart;
                    var endPos = this.selectionEnd;
                    var scrollTop = this.scrollTop;
                    this.value = this.value.substring(0, startPos)+myValue+this.value.substring(endPos,this.value.length);
                    this.focus();
                    this.selectionStart = startPos + myValue.length;
                    this.selectionEnd = startPos + myValue.length;
                    this.scrollTop = scrollTop;
                  } else {
                    this.value += myValue;
                    this.focus();
                  }
                })
              }
              });
        </script>


    {% if post.draft %}
        <script type="text/javascript">
            function SaveTick(){
                issueSaveAjax({{ post.id }}, false);
                setTimeout("SaveTick()", 4000);
            }
            $(document).ready(function(){
                setTimeout("SaveTick();", 10000);
            })
        </script>
    {% endif %}

{% endblock %}


{% block content %}
    <div class="container">
            <form accept-charset="UTF-8" action="" class="edit_post" id="edit_post" method="post">
                <div class="row">
                  <div class="col-md-9">
                    <h2>Edit project</h2>
                    <pre><span></span><br></pre>
                    <!--begin post header-->
                    <div class="post_header">
                      <textarea class="admin-box" id="post_title" name="post_title" placeholder="Title here" rows="1">
                        {{ post.title }}
                      </textarea>
                    </div>
                    <!--end post header-->
                    <br/>
                    <!--begin post content-->
                    <div class="expandingArea text-content" id="edit_post_area">
                      <pre><span></span><br></pre>
                      <textarea cols="40" id="post_content" name="post_content" class="admin-box tabIndent" placeholder="Write post here" rows="20">
                        {{ post.text }}
                      </textarea>
                    </div>
                    <!--end post content-->
                  </div>
                  <!--end col-md-9-->
                  <div class="col-md-3">
                    <div class="admin-box" id="admin-sidebar">
                      <h3>Status: {% if post.draft %}Draft{% else %}Published{% endif %}</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <div id="admin-sidebar-draft">
                          <label id="auto-save" for="post_draft">Draft</label>
                          <input name="post_draft" type="hidden" value="0" />
                          <input id="post_draft" name="post_draft" type="checkbox" value="1" {% if post.draft %}checked{% endif %} />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <button onclick="$('#edit_post').submit()" class="btn btn-primary" role="button">Save</button>
                        </div>
                      </div>
                      <br/>
                      <div class="row">
                        <div class="col-md-6">
                          <div id="admin-sidebar-view">
                          {% if post.draft %}
                          <a class="btn btn-default" href="{{ url_for('preview', post_id=post.id) }}" 
                               target="previewPage" onclick="issueSaveAjax({{ post.id }})">Preview</a>
                          {% else %}
                          <a class="btn btn-default" href="{{  url_for('view_post_slug', slug=post.slug) }}" target="_blank">View live</a>
                          {% endif %}
                          </div>
                        </div>
                        <div class="col-md-6">
                           <a href="{{ url_for('delete', post_id=post.id, next="admin") }}" class="btn btn-default" 
                                style="color:red" role="button">Delete</a>
                        </div>
                      </div>
                      <br/>
                      <div id="drop-upload" class="well well-small" style="word-wrap: break-word;">
                                Drag files here to upload. Click to insert.
                                <input style="visibility: collapse; width: 0px;" type="file" onchange="upload(this.files[0])">
                                <div id="upload_list"></div>
                      </div>
                      <a href="#markdown-help" role="button" class="btn" data-toggle="modal">
                                <img src="{{ url_for('static', filename='39x24-solid.png') }}"></a>
                    </div>
                    <!--end admin-box-->
                    <!--thumbnail admin box-->
                    <div class="admin-box">
                      <h3>Thumbnail image</h3>
                      <div id="upload-thumbnail">
                          <input type="file" onchange="uploadThumbnail(this.files[0])">
                      </div>
                      <div id="upload_list_thumbnail">
                        <p><a class='uploadUrl' target='_blank' href='{{ post.thumbnail }}'><img src='../{{ post.thumbnail }}' alt='thumbnail'/></a></p>
                      </div>
                      <span id="post_thumbnail" class="display:none; visibility:hidden"></span>
                      
                    </div>
                  </div>
                  <!--end col-md-3-->
                 </div>
			          <!--end row-->
            </form>
    </div>
    <!--end container-->
	
    <!-- Modal -->
    <div class="modal fade" id="markdown-help" tabindex="-1" role="dialog" aria-labelledby="markdown-help-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 ><img id="markdown-help-img" src="{{ url_for('static', filename='66x40-solid.png') }}"> 
            <h1 id="markdown-help-title">Markdown Cheat Sheet</h1>
            </h3>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <h4>Headers</h4>
                    <div class="well well-sm">
                        <p> # This is an &lt;h1&gt; tag </p>
                        <p>## This is an &lt;h2&gt; tag </p>
                        <p>###### This is an &lt;h6&gt; tag </p>
                    </div>

                    <h4>Text styles</h4>
                    <div class="well well-sm">
                        <p>*This text will be italic*</p>
                        <p>_This will also be italic_</p>
                        <p>**This text will be bold**</p>
                        <p>__This will also be bold__</p>

                        <p>*You **can** combine them*</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Lists - Unordered</h4>
                    <div class="well well-sm">
                        <p>* Item 1</p>
                        <p>* Item 2</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;* Item 2a</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;* Item 2b</p>
                    </div>

                    <h4>Lists - Ordered</h4>
                    <div class="well well-sm">
                            <p>1. Item 1</p>
                            <p>2. Item 2</p>
                            <p>3. Item 3</p>
                           <p>&nbsp;&nbsp;&nbsp;&nbsp;* Item 3a</p>
                           <p>&nbsp;&nbsp;&nbsp;&nbsp;* Item 3b</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Images</h4>
                    <div class="well well-sm">
                        <p>![Markdown Logo](/img/logo.png)</p>
                        <p>Format: ![Alt Text](url)</p>
                    </div>
                    <h4>Links</h4>
                    <div class="well well-sm">
                        <p>[GitHub](http://github.com)</p>
                    </div>
                    <h4>Blockquotes</h4>
                    <div class="well well-sm">
                        <p>As somone said:</p>
                        <p>&gt; First, solve the problem. </p>
                        <p>&gt; Then, write the code.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h4>Syntax highlighting with <a href="http://pythonhosted.org/Markdown/extensions/code_hilite.html">CodeHilite</a></h4>
                    <div class="well well-sm">
                        <p>~~~python</p>
                        <p>print 'hello world'</p>
                        <p>~~~</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Miscellaneous</h4>
                    <div class="well well-sm">
                        <p>[TOC]</p>
                        <p>Will generate a table of contents with links</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>More info</h4>
                    <div class="well well-sm">
                        <p><a href="http://pythonhosted.org/Markdown/extensions/code_hilite.html">CodeHilight</a></p>
                        <p><a href="http://pythonhosted.org/Markdown/extensions/fenced_code_blocks.html">Fenced Code Blocks</a></p>
                        <p><a href="http://pythonhosted.org/Markdown/extensions/toc.html">Table of contents</a></p>
                    </div>
                </div>
             </div>
          </div>
          <!--end modal-body-->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          <!--end modal-footer-->
        </div>
        <!--end modal-content-->
      </div>
      <!--end modal-dialog-->
    </div>

	<script>
		tabIndent.renderAll();
	</script>
{% endblock %}
