<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap -->
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      {% if config.USE_FAVICON %}
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      {% endif %}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ url_for('feed') }}">
      <link href="{{ url_for('static', filename='css/prettify.css') }}" rel="stylesheet" type="text/css">
      <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet" media="screen">
      <link href="{{ url_for('static', filename='css/code_styles.css') }}" rel="stylesheet" type="text/css">
      <link href='//fonts.googleapis.com/css?family={{ config.FONT_NAME|replace(' ','+') }}:400,900' rel='stylesheet' type='text/css'>
        <style>
            .post_container > p {
                left: 15%;
                font-family: "{{ config.FONT_NAME }}", sans-serif;
                line-height: 1.8em;
                font-size: 15px;
            }
            
            body, pre, input {
                font-family: "{{ config.FONT_NAME }}", sans-serif;
                line-height: 1.8em;
                font-size: 15px;
                font-weight: 400; }
        </style>
        <script src="{{ url_for('static', filename='js/prettify.js') }}" type="text/javascript"></script>
        
        {% block title %}{% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body onload="prettyPrint()">
      <div class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">{{ config.SITE_TITLE }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('index') }}">Work</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
		  <div class="navbar-right hidden-xs">
            {% if config.TWITTER_HANDLE %}
        	  <a href="https://twitter.com/{{ config.TWITTER_HANDLE }}/">
              <img alt="twitter" src="{{ url_for('static', filename='img/twitter.png') }}"/></a>
            {% endif %}
            {% if config.GOOGLE_PLUS_PROFILE %}
            <a href="https://plus.google.com/{{ config.GOOGLE_PLUS_PROFILE }}/posts">
              <img src="{{ url_for('static', filename='img/gplus.png') }}" alt="google plus"/></a>
            {% endif %}
            <a href="">
              <img src="{{ url_for('static', filename='img/linkedin.png') }}" alt="linked in"/></a> <!--KLM need to add support for linkedin-->
            {% if config.CONTACT_EMAIL %}
            <a href="mailto:{{ config.CONTACT_EMAIL }}?subject:Howdy">
              <img src="{{ url_for('static', filename='img/email.png') }}" alt="email"/></a>
            {% endif %}
            {% if config.GITHUB_USERNAME %}
            <a href="https://github.com/{{ config.GITHUB_USERNAME }}/">
              <img src="{{ url_for('static', filename='img/github.png') }}" alt="github"/></a>
            {% endif %}
            {% if is_admin %}
        <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/admin'">Admin</button>
            {% endif %}
        </div>
        <div class="navbar-right visible-xs">
            {% if config.TWITTER_HANDLE %}
        	  <a href="https://twitter.com/{{ config.TWITTER_HANDLE }}/">Twitter</a>
            {% endif %}
            {% if config.GOOGLE_PLUS_PROFILE %}
            <a href="https://plus.google.com/{{ config.GOOGLE_PLUS_PROFILE }}/posts">G+</a>
            {% endif %}
            <a href="">Linked in</a> <!--KLM need to add support for linkedin-->
            {% if config.CONTACT_EMAIL %}
            <a href="mailto:{{ config.CONTACT_EMAIL }}?subject:Howdy">Email</a>
            {% endif %}
            {% if config.GITHUB_USERNAME %}
            <a href="https://github.com/{{ config.GITHUB_USERNAME }}/">Github</a>
            {% endif %}s
        </div>
        </div><!--/.navbar-collapse -->
            
      </div>
    </div><!-- end navbar navbar-inverse navbar-fixed-top -->

      {% block content %}{% endblock %}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        {% if config["ANALYTICS_ID"]  %}
            <script>
                var _gaq=[['_setAccount','{{ config["ANALYTICS_ID"] }}'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                     g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                    s.parentNode.insertBefore(g,s)}(document,'script'));
                // Track page view times more accurately
                (function (tos) {
                  window.setInterval(function () {
                    tos = (function (t) {
                      return t[0] == 50 ? (parseInt(t[1]) + 1) + ':00' : (t[1] || '0') + ':' + (parseInt(t[0]) + 30);
                    })(tos.split(':').reverse());
                    window.pageTracker ? pageTracker._trackEvent('Time', 'Log', tos) : _gaq.push(['_trackEvent', 'Time', 'Log', tos]);
                  }, 30000);
                })('00');
            </script>
        {% endif %}
    </body>
</html>
