{% extends "layout.html" %}

{% block title %}<title>{{ config.SITE_TITLE }}: {{ post.title }}</title>{% endblock %}

{% block head %}
    <script type="text/javascript">
    function refreshPreviewPage(){
        window.location.reload();
    }
    </script>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-md-12" id="post-{{ post.id }}">
              <h1>{{ post.title }}</h1>
              {% if is_admin %}<button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='{{ url_for('edit', post_id=post.id) }}'">Edit</button>{% endif %}
              <br/>
                {{ post.render_content()|safe }}
        </div>
      </div>
    </div>
{% endblock %}
